@import "bootstrap";

body {
    background-color: lightgray;
}

.navbar {
    background-color: black !important;
}

.nav-link {
    color: white !important;
}

#logo {
    color: white !important;
    font-weight: bold;
    text-transform: uppercase;
}

#jumbotron {
    background-image: asset-url('jumbotrons-image');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}

#footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
}